{{!--  
     <div class=" side-nav float-left">
        <div class="row custom-nav-logo pb-4">
            <div class=" nav-logo text-center">
                <img src="/img/lotus-flower.svg" height="30px">
                <h3 class="logo-nav logo d-inline pl-3 tex-center">ekagratha</h3>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-12 ">
                <ul class="nav-ul " >
                    <li class="on">
                        <a href="/dashboard" class="justify-content-center on-link"> <i class="fa fa-home"></i>
                        Home</a>
                    </li>
                    <li>
                        <a href="/tasks"> <i class="fa fa-tasks"></i>
                        My Tasks</a>
                    </li>
                    <li>
                        <a href="/tasks"> <i class="fa fa-calendar"></i>
                        Calender</a>
                    </li>
                     <li>
                        <a href="/tasks"> <i class="fa fa-star"></i>
                        Started</a>
                    </li>
                </ul>
            </div>
        </div>
    </div> --}}
