<div class="container d-flex justify-content-center align-items-center flex-column " style="height: 100vh;">
    <div class="pb-5 d-flex justify-content-center flex-row">
        <img src="/img/lotus-flower.svg"   height="30px">
        <h1 class="logo d-inline pl-3 tex-center">ekagratha</h1>
    </div>
    <h1 class="heading">Welcome</h1> <br>
    <p class="sub-text">Manage all your work using our platform.</p>
    <a href="/user/login" class="btn btn-primary m-2 ">Get Started</a>
</div>